name: Generate Snake

on:
  schedule:
    - cron: "0 */6 * * *"   # runs every 6 hours
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: Praveenraj2206
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake.gif

      - name: Commit and push changes to main
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add dist/*
          git commit -m "Updated snake animation" || echo "No changes to commit"
          git push origin main
